@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap')

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
}
:root{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

body{
    min-height: 100vh;
    background: linear-gradient(to right, #6666ff, #b3f0ff, #6666ff);
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard{
    display: grid;
    grid-template: auto/repeat(4, 1fr);
}
button[data-all-clear]{
    grid-column: 1/span 2;
}
button[data-equals]{
    grid-column: 3/span 2;
}
button{
    font-size: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
    outline: none;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.5);
}
button:hover{
    background-color: rgba(255, 255, 255, .9);
}
.screen{
    background-color: rgba(0, 0, 0, .9);
    height: 75px;
    display: grid;
    grid-template: repeat(2, 1fr)/auto;
    color: white;
    font-size: 1.5rem;
    text-align: right;
}
.previous-operand{
    padding: 5px;
    color: rgba(255, 255, 255, .8);
    font-size: 1.2rem;
}
.current-operand{
    padding: 5px;
}